  
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a3d757;
  color: black;
  padding: 15px 30px;
  border-radius: 5%;
}



.span, .p {
    max-width: 70%;
     /* margin-left: 30px;  */
} 

 .redes-sociales  {
text-align: right;

 }
 .redes-sociales,  a {
  margin: 0 10px;
font-size: 30px;
 }
