


.cuadro {
    background-color: #d7fca2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Iris Grover' , cursive;
    padding: 20px;
}
.recuadro {
    background-color: #A3D757;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 500px;   
    max-width: 900px;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.pet{
width: 70%;
border-radius: 20px;
margin-bottom: 20px;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}


.formulario {
    background-color: #A3D757;
    border-radius: 20px;
    padding: 20px;
    width: 350px;
    text-align: center;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}
label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}



input {
    width: 100%;
    padding: 10px;
    border: 2px solid #d4c5c5;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 14px;
}

button {
    background-color: #f77449;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 03s;
    font-weight: bold;
    width: 100%;

}

button:hover {
    background-color: #d85a3b;
}