* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
main {
    min-height: 100vh;
    background-color: #d4c5c5;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inicio {
    border: 2px solid rbga(255,255,255,0.2);
    width: 90%;
    padding: 30px 40px;
    border-radius: 10px;
    
}