@import url('https://fonts.cdnfonts.com/css/eins-sans');

:root {
  --colorprimary: #A3D757;
  --colorsecondary: #D7FCA2;
  --colordenfasis: #F77449;
  --colorteciario: #BDDCF9;

  --white: #ffffff;
  --black: #000000;
  --text-dark: #585555;
}


form {
  max-width: 500px;
  margin: 40px auto;
  padding: 25px !important;
  border-radius: 12px;
  background-color: var(--white) !important;
  box-shadow: 0 6px 14px rgba(0,0,0,0.08);
  font-family: 'Eins Sans', sans-serif;
}


label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  color: var(--text-dark);
}


input, textarea {
  border-radius: 6px !important;
  border: 1px solid #ddd !important;
  font-size: 14px;
}


input:focus, textarea:focus {
  border-color: var(--colorprimary) !important;
  box-shadow: 0 0 0 0.15rem rgba(163, 215, 87, 0.4) !important;
}


textarea {
  min-height: 90px;
  resize: none;
}


button {
  width: 100%;
  margin-top: 15px;
  background-color: var(--colorprimary) !important;
  border: none !important;
  color: var(--black);
  font-weight: bold;
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
  transition: 0.3s;
}

.botonSecundary {
    background-color: #F77449 !important;
}
button:hover {
  background-color: var(--colorsecondary) !important;
  color: #F77449 !important;
}


@media (max-width: 520px) {
  form {
    margin: 15px;
    padding: 20px !important;
  }
}
