/* You can add global styles to this file, and also import other style files */
/* Importar tipografias*/
/*Variables de css*/
/*Importar tipografias*/

@import url('https://fonts.cdnfonts.com/css/eins-sans');


:root {
    --colorprimary: #A3D757;
    --colorsecundary: #D7fca2;
    --colordeenfasis: #F77449;
    --colorteciario: #BDDCF9;

    --white: #000000;
    --black: var(--black) --text-dark: #585555;
}

body {
    background-color: (var(--light-background));
    
    color: var(--text-dark);
    
    font-family: 'Eins Sans', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    border-radius: border-box;
}